<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="alpha-1.0" android:installLocation="auto" package="com.jhooclan.jhooapp">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17" />
	<application android:label="JhooApp" android:icon="@drawable/icon"></application>
</manifest>